.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainTab {
  padding: 10px;
}
.mainTab th {
  background: #dbd9d9;
}
.page-link {
  padding-right: 20px;
}
.mainWindow {
  margin: 40px;
}
.selectModel {
  margin-bottom: 20px;
  margin-top: 20px;
}
.select {
  display: inline-block;
}
label {
  font-weight: normal;
}
.bar span {
  margin-right: 20px;
}
.loading {
  margin-left: 20px;
}
.active {
  font-weight: bold;
}

.notActive {
  font-weight: normal;
}
.foot {

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footSelect {
  margin-left: 20px;
}